$bg-color: #E4F4FF;
$beeproger-red: #ea4759;
$beeproger-red-dark: #b82a3a;
$beeproger-black: #1c1c1c;

$primary: $beeproger-red;
$success: #00a489;
$title-font-family: 'Heebo', sans-serif;


// Bootstrap
$enable-smooth-scroll: false;
$font-family-base: 'Inter', sans-serif;
$body-color: $beeproger-black;
$btn-padding-y: 5px;
$btn-padding-x: 15px;
$btn-border-radius: 12px;
$font-weight-bolder: 500;
$headings-font-weight: 600;
$h2-font-size: 22px;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1140px,
//  xxl: 1440px
//);
//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1500px
//);
