@import "variables";

$item-border-radius: 8px;

.overview-list {
  overflow: hidden;
  display: block;
}

.item-container {
  border: solid 1px #e5e5e5;
  border-bottom: none;
  border-radius: $item-border-radius;
  justify-content: space-between;
  background: white;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  position: relative;

  .selected-label {
    display: none;
  }

  &:last-child {
    border-bottom: solid 1px #e5e5e5;;
  }

  &.active {
    .selected-label {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: .8rem;
      color: $gray-600;
    }
  }

  @each $priority, $priority-color, $priority-color-light, $priority-color-dark in $priorities {
    &.priority-#{$priority} {
      background-color: $priority-color-light;
      border-left: 6px solid $priority-color;

      &.active {
        background-color: $priority-color-dark;
      }

      &:hover {
        background-color: $priority-color-dark;
      }

      .drag-icon-container {
        &:hover {
          background-color: $priority-color-dark;
        }
      }
    }
  }

  .item-link {
    text-decoration: none;
    color: inherit;
    padding: 20px 10px;

    .title {
      font-weight: 600;
    }
  }

  .drag-icon-container {
    cursor: move;
    padding: 0 10px 0 5px;

    .drag-icon {
      font-size: 15px;
      color: #b0b0b0;
    }
  }
}

.drag-placeholder {
  border-radius: $item-border-radius;
  background-color: $gray-200;
  min-height: 88px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.overview-list.cdk-drop-list-dragging .item-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
