<div class="row mb-5">
  <div class="col-auto">
    <div class="icon-container d-flex justify-content-center">
      <i class="edit-icon fa-solid fa-pen mt-1"></i>
    </div>
  </div>
  <div class="col">
    <form *ngIf="form" [formGroup]="form">
      <input class="form-control mb-1" placeholder="Titel" formControlName="title">
      <textarea rows="6" class="form-control" placeholder="Beschrijving" formControlName="description"></textarea>
    </form>

    <div class="mt-4 d-flex gap-2">
      <a routerLink=".." class="btn btn-light">Annuleren</a>
      <button class="btn btn-primary">Opslaan</button>
    </div>
  </div>
</div>
