@import "variables";

.icon-container {
  width: 36px;

  .edit-icon {
    font-size: 22px;
  }
}

.image-container {
  height: 150px;
  max-width: 250px;
  position: relative;

  &:hover {
    .hover-overlay {
      display: flex;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, .3);
    }
  }

  .hover-overlay {
    display: none;
    color: white;
    text-decoration: none;
  }
}

.file-upload-btn {
  border: 1px solid $beeproger-red;
  color: $beeproger-red;
  border-radius: $btn-border-radius;
  padding: 2px 8px 3px;
  font-size: .9rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: white;
    background-color: $beeproger-red;
  }
}

#file-upload-btn {
  display: none;
}

