<div class="row">
  <div class="col-auto">
    <div class="icon-container d-flex justify-content-center">
      <i class="edit-icon fa-solid fa-pen-to-square mt-1 text-muted"></i>
    </div>
  </div>
  <div class="col">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <label for="title" class="text-muted small">Titel</label>
      <input id="title" class="form-control mb-1" placeholder="Titel" formControlName="title">

      <label for="description" class="text-muted small">Beschrijving</label>
      <textarea id="description" rows="6" class="form-control" placeholder="Beschrijving"
                formControlName="description"></textarea>

      <label for="priority" class="text-muted small">Prioriteit</label>
      <div class="mb-1">
        <mat-radio-group id="priority" aria-label="Select an option" formControlName="priority">
          <mat-radio-button value="low">Laag</mat-radio-button>
          <mat-radio-button value="medium">Normaal</mat-radio-button>
          <mat-radio-button value="high">Hoog</mat-radio-button>
        </mat-radio-group>
      </div>

      <label class="text-muted small">Afbeelding</label>
      <div *ngIf="previewUrl || todoItem?.image" class="mb-1 image-container">
        <a (click)="deleteImage()" class="hover-overlay cursor-pointer p-4">
          <i class="fa-solid fa-trash-can fa-2x"></i>
        </a>
        <app-todo-item-image [previewImage]="previewUrl" [imagePath]="todoItem?.image"></app-todo-item-image>
      </div>
      <div class="mb-4">
        <label for="file-upload-btn" class="file-upload-btn">
          Afbeelding uploaden
          <input type="file" id="file-upload-btn" (change)="onFileChange($event)" accept=".png,.jpg,.jpeg">
        </label>
      </div>

      <div class="d-flex gap-2">
        <a routerLink=".." class="btn btn-light">Annuleren</a>
        <button type="submit" class="btn btn-primary">Opslaan</button>
      </div>
    </form>
  </div>
</div>
