@import "variables";

.icon-container {
  width: 36px;

  .edit-icon {
    font-size: 22px;
  }
}

.file-upload-btn {
  border: 1px solid $beeproger-red;
  color: $beeproger-red;
  border-radius: $btn-border-radius;
  padding: 2px 8px 3px;
  font-size: .9rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: white;
    background-color: $beeproger-red;
  }
}

#file-upload-btn {
  display: none;
}
