<div *ngIf="todoItem" class="row">
  <div class="col-auto">
    <app-check-todo-item-button [size]="28" [completed]="todoItem.completed" (clickEvent)="toggleTodoItem()">
    </app-check-todo-item-button>
  </div>
  <div class="col">
    <div class="d-flex gap-3 align-items-center">
      <h2 class="mb-1 mt-1">{{todoItem.title}}</h2>
      <a routerLink="edit" class="edit-icon">
        <i class="ms-1 fa-solid fa-pen"></i>
      </a>
      <i class="delete-icon cursor-pointer fa-solid fa-trash-can" (click)="deleteTodoItem()"></i>
    </div>
    <div class="d-flex gap-4 mb-4">
      <div class="text-muted">
        <i class="fa-solid me-1"
           [ngClass]="[todoItem.priorityIconClass, todoItem.priorityColor]"></i> {{todoItem.priorityLabel}}
      </div>
      <div class="text-muted">
        <i class="fa-regular fa-clock me-1"></i> {{todoItem.createdAt | date:'d MMMM y'}}
      </div>
    </div>
    <div class="mb-4">
      {{todoItem.description}}
    </div>

    <div *ngIf="todoItem.image as imagePath" class="image-container mb-5">
      <a (click)="openImageModal()" class="hover-overlay cursor-pointer p-4">
        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
      </a>
      <app-todo-item-image [imagePath]="imagePath" [alt]="todoItem.title"></app-todo-item-image>
    </div>

    <div *ngIf="todoItem.completedAt">
      <hr class="my-2">
      <div class="text-success fw-bolder">
        Deze taak is afgerond op {{todoItem.completedAt | date:'d MMMM y HH:mm uur'}}</div>
      <hr class="my-2">
    </div>
  </div>
</div>
