@import "variables";

.edit-icon {
  color: $gray-600;

  &:hover {
    color: $beeproger-black;
  }
}

.delete-icon {
  color: $gray-600;

  &:hover {
    color: $beeproger-red;
  }
}

.image-container { // todo: duplicate code
  height: 150px;
  max-width: 250px;
  position: relative;

  &:hover {
    .hover-overlay {
      display: flex;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, .3);
    }
  }

  .hover-overlay {
    display: none;
    color: white;
    text-decoration: none;
  }
}
